*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 100vh;
    width: 15%;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 0;
}
nav #nav_logo{
    height: 12%;
    width: 100%;
    background-color: aqua;
    margin-bottom: 30px;
}
nav li{
    display: block;
    height: 50px;
    width: 100%;
    border: 2px solid white;
    text-align: center;  
    line-height: 50px;  
}
nav li a{
    text-decoration: none;
    color: white;
}
#account{
    height: 6%;
    width: 14%;
    /* background-color: aquamarine; */
    border: 2px solid gray;
    position: fixed;
    top: 90%;
    padding-top: 8px;
    padding-left: 5px;
    border-radius: 10px;
    color: white;
}
#account .account_name{
    color: white;
    display: inline;
    font-size: 20.5px;
}
.account_name:hover{
    cursor: pointer;
}
/* ---------------------------- */
#banner{
    height: 60vh;
    width: 75%;
    /* background-color: rgb(0, 8, 255); */
    margin-left: 15%;
}
#banner img{
    height: 100%;
    width: 100%;
}
/* --------------------------- */
#cart{
    height: 100vh;
    width: 10%;
    background-color: black;
    margin-left: 90%;
    position: fixed;
    z-index: 0;
}
#cart .cart_heading{
    font-size: 30px;
    padding-left: 18px;
    padding-top: 10px;
    color: white;
}
#cart_main{
    /* background-color: blue; */
    height: 80%;
    width: 100%;
}
#cart_box{
    height: 18%;
    width: 100%;
    /* background-color: pink; */
    margin-bottom: 10px;
    display: none;
}
#cart_box #cart_image1{
    height: 100%;
    width: 100%;
    /* visibility:hidden; */
    border: 2px solid;
}
/* ---------------------------------------- */
#famous_cards{
    height: 150vh;
    width: 75%;
    /* background-color: bisque; */
    margin-left: 15%;
}
#famous_cards .fcards_row1{
    height: 50%;
    width: 100%;
    /* background-color: blueviolet; */
    justify-content: space-evenly;
    display: flex;
}
#famous_cards .fcards_row1 .fcards_section1{
    height: 100%;
    width: 50%;
    /* background-color: #5f9ea0; */
    margin-top: 17px;
    text-align: center;
}
.fcards_section1 h1{
    text-decoration: underline;
    text-shadow: 0.1px 1px 10px gray;
}
.fcards_section1 .fcards_main{
    height: 80%;
    width: 100%;
    /* background-color: chocolate; */
    margin-top: 5px;
    border:2px solid;
    padding-top: 5px;
}
.fcards_section1 .fcards_bottom{
    height: 8%;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}
.fcards_main .fcards_row{
    height: 47%;
    width: 100%;
    /* background-color: aqua; */
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}
.fcards_row .fcards_maincard{
    height: 100%;
    width: 45%;
    /* background-color:burlywood; */
    border: 0.1px solid gray;
    border-radius: 20px;
}
.fcards_maincard img{
    height: 85%;
    width: 100%; 
    border-radius: 30px;   
}
/* ------------------------------ */
#category_main{
    text-align: center;
    font-size: 55px;
    text-decoration: underline 5px ;
    text-shadow: 2px 2px 1px gray;
    background-color: black;
    color:white;
    height: 15vh;
    width: 75%;
    margin-left: 15%;
    padding-top: 1.2%;
}
.electronics_heading{
    height: 7%;
    text-align: center;
    text-decoration: underline;
}
.Laptops{
    height: 145vh;
    width: 75%;
    margin-left: 15%;
    /* background-color: chartreuse; */
}
.Laptops .laptops_row{
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
}
.Laptops .laptops_cards{
    height: 100%;
    width: 30%;
    float: left;
    border-radius: 10px;
    border: 1px solid gray;
}
.laptops_cards img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 0;
}
.electronics_button{
    display: none;
}
/* ---------------------------------------------- */
#temporary{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.743);
    display: none;
}
@keyframes details_animation {
    /* 0%{top: 0%;}
    20%{top:10%}
    40%{top:20%}
    60%{top:30%}
    80%{top:40%}
    100%{top:50%} */
    from{
        top: 0%;
    }
    to{
        top: 50%;
    }
}
#temporary_main{
    height: 75%;
    width: 75%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-duration: 0.5s;
    animation-name: details_animation;
}
#details_icon{
    font-size: 35px;
    color: rgba(255, 255, 255, 0.907);
    position: relative;
    left: 94%;
    top: 2%;
}
#add_to_cart{
    color:white;
    background-color: gray;
    display: block;
    height: 39px;
    width: 240px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 15px;
    position: relative;
    top: 85%;
    left: 60%;
}

#add_to_cart:hover{
    cursor: pointer;
}
.temporary_column{
    height: 100%;
    width: 50%;
    float: left;
    border: 2px solid white;
}
.details_image{
    height: auto;
    width: 100%;
}
.temporary_column1{
    white-space: no-wrap;
    overflow-y: scroll;
}
.details_name{
    height: 15%;
    width: 100%;
    /* color: black; */
    text-align: center;
    padding-top:15px;
}
.details_description{
    height: 85%;
    width: 100%;
    /* background-color: aqua; */
}
.details_info{
    /* height: 100%; */
    width: 100%;
    /* background-color: red; */
    text-align: center;
}
/* ------------------------ */

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
   list-style: none; 
}
.footer{
    background-color: #23262b;
    padding: 70px 0;
    padding-left: 15%;
  }
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.facebook{
    color:snow
}
.twitter{
    color:rgb(69, 142, 166);
}
.instagram{
    color:rgb(179, 82, 82);
}
.linked{
    color: rgb(14, 108, 142);
}
.footer-colul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24242b;
    background-color: #832a2a;
}







